<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notty</title>
    <div>
        <a href='/' style="font-size:40px">X</a>
        <h1 style="display:inline">Notty</h1>
        <a href='/setting/' style="font-size:40px">=</a>
    </div>
    <meta http-equiv="refresh" content= "0.6 ; url=/real_min">
    <link rel="stylesheet" href="static/css/flash.css">

</head>
<body>

    <div class="square">
        <div class="spin"></div>
      </div>
</body>
</html>